html {
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
}

.gutter {
    display: flex;
    flex: 1;
    margin: 48px 15%;
}

header, .hero-container, footer {
    display: flex;
    background: #1F2937;
}

section {
    display: flex;
}

header > .gutter {
    gap: 24px;
}

.hero-container > .gutter {
    gap: 48px;
}

.hero-container > .gutter > div {
    flex: 1;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.hero-secondary, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.info-container > .gutter {
    flex-direction: column;
    gap: 48px;
}

.img-placeholder {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.figure-container {
    display: flex;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.card-img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.call-to-action, button {
    background: #3882f6;
    border-radius: 10px;
}

.call-to-action {
    padding: 48px;
    justify-content: space-around;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.quote-container {
    background: #E5E7EB;
}

.quote-container > .gutter {
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.cite {
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
    text-align: end;
}

footer > .gutter {
    justify-content: center;
}

.dark {
    color: #1F2937
}

.center {
    text-align: center;
}